<template>
  <div class="rainWrapper">
    <svg class="rain master">
      <path d="M0 0 V 100" />
    </svg>
  </div>
</template>
<script>
import $ from "jquery"
export default {
  data() {
    return {}
  },
  mounted() {
    window.onload = function () {
      var animationms = 2000
      setInterval(rain, 100)
      function rain() {
        var position = {
          x: Math.round(Math.random() * (window.innerWidth / 50) * 50),
          y: 0,
          //y: Math.round((Math.random() * window.innerHeight) / 2),
        }

        var rainPath = $("svg.master").clone()
        rainPath.removeClass("master")
        rainPath.css("left", `${position.x}px`)
        rainPath.css("top", `${position.y}px`)
        rainPath.appendTo($("div.rainWrapper"))
        setTimeout(
          function (target) {
            console.log("Removed")
            target.remove()
          },
          animationms,
          rainPath
        )
      }
      console.log("Finished")
    }
  },
}
</script>
<style>
@keyframes blink {
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rain {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(80%);
  }
}
div.hero {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  background: linear-gradient(#97b5e5, #676d77) fixed;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}
path {
  stroke: white;
  fill: transparent;
}
.rain {
  position: absolute;
  margin-top: 0;
  animation: rain 2s linear;
  opacity: 0;
  overflow: hidden;
}
.rainWrapper {
  position: absolute;
  transform: rotateZ(20deg);
  top: -25%;
  left: 0%;
  width: 120%;
  height: 150%;
  overflow: hidden;
}
.rain path {
  stroke-width: 1px;
}
.mainBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms 0s ease;
  animation: blink 0.4s 0s linear both;
  padding: 0;
  border: solid 0px black;
}
.mainBox:hover {
  padding: 10px;
  border-width: 5px;
}
.mainTitle {
  transition: all 300ms 0s ease;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
  color: #dddddd;
  opacity: 0;
  animation: blink 0.4s 0.5s linear both;
}
</style>
