<template>
  <v-parallax src="">
    <v-row class="gradient-background" align="center" justify="center">
      <v-col class="text-center" cols="12">
        <h1 class="display-3 font-weight-bold font-italic">
          rkun
        </h1>
        <p class="font-weight-bold">
          Golang / Node.js / Python / Ruby on Rails / Unity
        </p>
      </v-col>
      <Hero />
    </v-row>
  </v-parallax>
</template>
<script>
import Hero from "./Hero.vue"
export default {
  components: {
    Hero,
  },
  data() {
    return {}
  },
}
</script>
<style>
.gradient-background {
  background: linear-gradient(#97b5e5, #676d77) fixed;
}
</style>
