<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm10 md8>
      <div class="text-center">
        <Logo class="mb-5" />
      </div>
      <v-card>
        <v-card-title class="headline">
          はい，皆さんが静かになるまで3分かかりました！！
        </v-card-title>
        <v-card-text>
          <p>九工大情報工学部 情報通信工学科3年</p>
          <p>
            最近はGolangをよくいじっている．PythonやNode.jsもたまに触る．
            Androidアプリ作ったりUnityでゲーム作ったりもたまにする．
            常に愛機ThinkPad X270@Arch Linuxで遊んでる．
          </p>
        </v-card-text>
        <v-card-actions>
          <v-row justify="center">
            <v-col align="center" cols="3">
              <v-btn color="primary" href="https://twitter.com/rkunkunr">
                Twitter
                <v-icon right>mdi-twitter</v-icon>
              </v-btn>
            </v-col>
            <v-col align="center" cols="3">
              <v-btn color="primary" href="https://mstdn.maud.io/@rkundon">
                Mastodon
                <v-icon right>mdi-mastodon</v-icon>
              </v-btn>
            </v-col>
            <v-col align="center" cols="3">
              <v-btn color="primary" href="https://blog.rkunkunr.com">
                Blog
                <v-icon right>mdi-web</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from "~/components/Logo.vue"

export default {
  components: {
    Logo,
  },
}
</script>
